ul {
  list-style: none;  
}

.container {
  width: 1200px;
  margin: auto;
}

.notices {
  margin-top: 3%;
  display: flex;
}

.imageNotice img {
  max-height: 250px;
  max-width: 350px;
  list-style: none;
  border-radius: 4px;
}

.noticeNote {
  margin-left: 3%;
}

.noticeNote h2 {
  text-decoration: underline;
}

.noticeNote span {
  font-style: italic;
  font-size: 0.8rem;
}